*{
    /* border: red solid 3px; */
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
    /* color: #fff; */
    
}
/* html{
    background-image: url('https://i.ytimg.com/vi/1iIXx55Orwg/maxresdefault.jpg');
} */

header{
    display: inline-flex;
    width: 100%;
    padding: 15px 0px;
    align-items: center;
}
.logo{
    font-size: .75em;
    padding-left: 50px;
}

.navBar{
    margin-left: auto;
    font-size: 1.2em;
    padding-right: 100px;
}

ul{
    display: inline-flex;
}

.tab{
    padding: 15px 10px;
}
body{
    width: 100%;
}
.img-container{
    background-color: #d7dbd8;
    display: flex;
    min-height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img-container img{
    border-radius: 50%;
}


.container{
    display: inline-flex;
    line-height: 1.5;
    padding: 15px 10px;

}

#col-1{
    width: 30%;
  }
  
  #col-2{
    width: 70%;
  }
  
#col-1, 
#col-2{
    margin: 0px 10px;
    padding: 5px;
    
}
  #team-img{
      max-width: 100%;
      max-height: 200px;
  }

  p{
      padding:5px 0px;
  }
  .tab:hover{
    background-color:#d7dbd8;
    
  }
  .tab a:hover{
      color:#fff;
  }

  @media only screen and (max-width: 800px){
      header{
        flex-direction: column;
      }
      .logo, .navBar{
        padding: 0;
        margin-left: auto;
        margin-right: auto;
      }
      .container{
        
        flex-direction: column;
      }
      #col-1,
      #col-2{
          width: auto;
          text-align: center;
      }

      #col-1 p,
      #col-2 p{
          text-align: left;
      }

}